@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;

	margin:0;
	overflow: hidden;
}
.background{
	background: url(butterfly2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;

	filter: blur(20px);

	z-index: -1;
}
.ques{
	position: absolute;
	text-align: center;
	top: 50px;
	/*z-index: -1;*/
	display: block;
}
.toggle.hidetoggle{
	display: none;
}
h1{
	color:#7d013d;
	letter-spacing: 2px;
	font-size: 50px;
	font-family: 'Yanone Kaffeesatz', sans-serif;

}
.modal-container{
	background-color:#d3f2f5;
	padding: 20px 50px;
	text-align: center;
	border-radius: 20px;
	margin-bottom: 100px;
	display: none;

}

.modal-container.showmodal{
	display: block;
}

.toggle{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 600;
	border:0;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #fff;
	color: #222;
}
.toggle:active{
	transform: scale(1.1);
}

.form-group{
	margin:20px 0;

	position: relative;
}
.form-group label{
	font-family: 'Yanone Kaffeesatz', sans-serif;

	color: #666;
	font-size: 25px;
	display: block;
	margin-bottom: 8px;
}
.form-control{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
	letter-spacing: 1.5px;
	background-color: #ffbff1;
	width: 250px;
	padding: 5px;
	border:2px outset #999;
	border-radius: 10px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5);

}

.fas{
	position: absolute;
	top:2.5rem;
	right:1rem;
}
.form-control::placeholder{
	text-align: center;
	color: #666;
}

.btn{
	text-decoration: none;
	color: #444;
	font-size: 18px;
	width: 100px;
	background-color:#ffbff1;
	border:2px outset #999;
	border-radius: 10px;
	padding: 5px 10px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.form-control:focus,.btn:focus{
	outline: 0;
}

